<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.2261745999-nj27bn7hul54flrqj89470u6912v1197</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>TheSerifHandBlack.ttf</string>
		<string>TheSerifHandBold.ttf</string>
		<string>TheSerifHandLight.ttf</string>
		<string>TheSerifHandRegular.ttf</string>
		<string>TheSerifHandXtraBlk.ttf</string>
	</array>
</dict>
</plist>
